#container {

	height: 200px;
	width: 200px;
	margin: 0 auto;
    float: none;
    position: relative;
    border: 1px solid black;

	.char {
		
		content: "";
		height: 10px;
		width: 10px;
		position: absolute;
		transition: top 0.5s, left 0.5s linear;
		-moz-transition: top 0.5s, left 0.5s linear; 
		-webkit-transition:top 0.5s, left 0.5s linear; 
		-o-transition: top 0.5s, left 0.5s linear;

		&[data-status='dead'] {
			background: grey !important;
		}

	}

}