p {
	font-family: 'Open Sans', sans-serif;
	color: #201F1D;
	margin: 0;
}

label {
	font-family: 'Open Sans', sans-serif;
	color: #201F1D;
	margin: 0;
}

.nightjar {
	margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	min-height: 100vh;
 	flex-direction: column;

 	.main {
 		-webkit-box-flex: 1;
    	-webkit-flex: 1;
		flex: 1;
 	}
}

.container {

	width: 1000px;
	margin: 0 auto;
	position: relative;

	.content {
		position: relative;
	}

}